.nav_i {
    background-color: #F3EAEA;
    color: #000000;
}

.init:hover, .register:hover {
    color: #ff8304;
}

.contact, .init, .order {
    color: #4A221A;
}

.contact:hover, .init:hover, .order:hover {
    color: #ff8304;
}

/* Estilos para el contador del carrito */
.cart-count {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;
    font-weight: bold;
}
